<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
		<form name="bidForm" novalidate ng-submit="bidForm.$valid && !bidForm.$pristine && doPlaceBid(bidForm, bidEnquiry.enquiry_id)">
      <div class="modal-body large-10 columns" ng-show="content">
		<table>
			<thead>
				<tr>
					<td>Brand</td>
					<td>Model</td>
					<td>Colour</td>
					<td>Age</td>
					<td>Milage</td>
					<td>Asking Price</td>
					<td>Bids</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{bidEnquiry.brand_name}}</td>
					<td>{{bidEnquiry.model_name}}</td>
					<td>{{bidEnquiry.color}}</td>
					<td>{{getAgeFromYear(bidEnquiry.from_year)}} Years Old</td>
					<td>{{bidEnquiry.milage}}</td>
					<td>{{bidEnquiry.target_price}}</td>
					<td>
						Number of bids: {{numberOfBids(bidEnquiry.enquiry_id)}}<br />
						Lowest bid: {{lowestBid(bidEnquiry.enquiry_id)}}
					</td>
				</tr>
			</tbody>
		</table>

      </div>
      <div class="modal-footer">
			<div ng-show="!bidForm.$pristine && !bidForm.$valid"> Invalid bid amount! </div>
			<input placeholder="Bid amount" type="number" min="0" required max="{{lowestBid(bidEnquiry.enquiry_id)}}" class="form-control" ng-model="bidForm.bid_amount" /><br />
			<button type="submit"> Confirm Bid </button>
			<button ng-click="hidePlaceBid()"> Return </button>
      </div>
		</form>
    </div>
  </div>
</div>
