<div class="large-3 columns">
	<h2>Add new enquiry</h2>
	<form>
		<div class="form-group">
			<label>Brand</label>
			<select ng-model='selectedBrand'>
			<option ng-repeat="(key, value) in carBrands">{{key}}</option>
			</select> 
		</div>
		<div class="form-group">
			<label>Model</label>
			<select ng-model='form.car_id'>
			<option ng-repeat='(key, value) in carBrands[selectedBrand]' value='{{value}}'>{{key}}</option>
		</select>
		</div>
		<div class="form-group">
			<label>Colour</label>
			<select ng-model="form.color">
				<option>Black</option>
				<option>Blue</option>
				<option>Silver</option>
			</select>
		</div>
		<div class="form-group">
			<label>Age</label>
			<input ng-model="form.from_year" type="text" class="form-control" name="age">
		</div>
		<div class="form-group">
			<label>Milage</label>
			<input ng-model="form.milage" type="text" class="form-control" name="milage">
		</div>
		<div class="form-group">
			<label>Asking price</label>
			<input ng-model="form.target_price" type="text" class="form-control" name="target_price">
		</div>
		<button ng-click="addEnquiry(form)" type="submit" class="">Add Enquiry</button>
	</form>
</div>

<div class="large-7 columns">
	<h2>Your enquires</h2>
	<table>
	
		<thead>
			<tr>
				<td>Brand</td>
				<td>Model</td>
				<td>Colour</td>
				<td>Age</td>
				<td>Milage</td>
				<td>Asking Price</td>
				<!--<td>Remove</td> -->
				<td>Number of bids</td>
				<td></td>
			</tr>	
		</thead>
		<tbody ng-repeat="enquiry in enquiries | filter:{user_id:getUserID()}">
			<tr>
				<td>{{enquiry.brand_name}}</td>
				<td>{{enquiry.model_name}}</td>
				<td>{{enquiry.color}}</td>
				<td>{{enquiry.age}}</td>
				<td>{{enquiry.milage}}</td>
				<td>{{enquiry.target_price}}</td>
				<!--<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td> -->
				<!--<td><input type="checkbox"></td> -->
				<td>{{numberOfBids(enquiry.enquiry_id)}}</td>
				<td><input type="hidden" ng-model="from.on_enquiry_id">
				<button ng-hide="enquiry.accepted_bid_id" class="" ng-click="showBidsForEnquiry(enquiry.enquiry_id)">View Bids</button>
				<label ng-show="enquiry.accepted_bid_id" style="text-align:center;"><b>Sold</b></label></td>
			</tr>
			<tr ng-show='enquiry.enquiry_id == selectedEnquiry' ng-repeat="bid in bids | filter:{on_enquiry_id:enquiry.enquiry_id}">
				<td></td>
				<td><em>Bid amount: {{(bid.bid_amount)*1.05}}</em></td>
				<!--<td><em>Location: {{enquiry.accepted_bid_id}}</em></td> -->
				<!--<td><em>Accept bid: </em><input type="checkbox"></td>-->
				<td><form>
					<input type="hidden" ng-model="bidForm.user_id" ng-init="bidForm.user_id = getUserID()" />
					<input type="hidden" ng-model="bidForm.enquiry_id" ng-init="bidForm.enquiry_id = enquiry.enquiry_id" />
					<input type="hidden" ng-model="bidForm.accepted_bid_id" ng-init="bidForm.accepted_bid_id = bid.bid_id" />
					<button type="submit" class="" ng-click="acceptBid(bidForm)">Accept bid</button></form>
				</td>
			</tr>	
	
		</tbody>
	</table>
</div>	
</div>	