<div class="large-3 columns">
	<form>
		<div class="form-group">
			<label>Brand</label>
			<select ng-model="form.car_id">
				<option value="1">Volvo</option>
				<option value="2">Audi</option>
			</select>
		</div>
		<div class="form-group">
			<label>Model</label>
			<input type="text" class="form-control" name="model">
		</div>
		<div class="form-group">
			<label>Colour</label>
			<select ng-model="form.color">
				<option>Black</option>
				<option>Blue</option>
				<option>Silver</option>
			</select>
		</div>
		<div class="form-group">
			<label>Age</label>
			<input ng-model="form.from_year" type="text" class="form-control" name="age">
		</div>
		<div class="form-group">
			<label>Milage</label>
			<input ng-model="form.milage" type="text" class="form-control" name="milage">
		</div>
		<div class="form-group">
			<label>User</label>
			<input ng-init="form.user_id = 1" ng-model="form.user_id" type="text" class="form-control" name="user_id">
		</div>
		<div class="form-group">
			<label>Asking price</label>
			<input ng-model="form.target_price" type="text" class="form-control" name="target_price">
		</div>
		<button ng-click="addEnquiry(form)" type="submit" class="">Add Enquiry</button>
	</form>
</div>
<div class="large-7 columns">
	<table>
	
		<thead>
			<tr>
				<td>Brand</td>
				<td>Model</td>
				<td>Colour</td>
				<td>Age</td>
				<td>Milage</td>
				<td>Asking Price</td>
				<td>Remove</td>
			</tr>	
		</thead>
		<tbody>
			<tr>
				<td>Ford</td>
				<td>Mondeo</td>
				<td>Black</td>
				<td>2 Years Old</td>
				<td>25000</td>
				<td>$5000</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
			<tr>
				<td>Ford</td>
				<td>Mondeo</td>
				<td>Black</td>
				<td>2 Years Old</td>
				<td>25000</td>
				<td>$5000</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
			<tr>
				<td>Ford</td>
				<td>Mondeo</td>
				<td>Black</td>
				<td>2 Years Old</td>
				<td>25000</td>
				<td>$5000</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
			<tr>
				<td>Ford</td>
				<td>Mondeo</td>
				<td>Black</td>
				<td>2 Years Old</td>
				<td>25000</td>
				<td>$5000</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
			<tr>
				<td>Ford</td>
				<td>Mondeo</td>
				<td>Black</td>
				<td>2 Years Old</td>
				<td>25000</td>
				<td>$5000</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
		</tbody>
	</table>
</div>	
</div>	