<div class="large-3 columns">
	<h2>Add new enquiry</h2>
	<form>
		<div class="form-group">
			<label>Brand</label>
			<select ng-model='selectedBrand'>
			<option ng-repeat="(key, value) in carBrands">{{key}}</option>
			</select> 
		</div>
		<div class="form-group">
			<label>Model</label>
			<select ng-model='form.car_id'>
			<option ng-repeat='(key, value) in carBrands[selectedBrand]' value='{{value}}'>{{key}}</option>
		</select>
		</div>
		<div class="form-group">
			<label>Colour</label>
			<select ng-model="form.color">
				<option>Black</option>
				<option>Blue</option>
				<option>Silver</option>
			</select>
		</div>
		<div class="form-group">
			<label>Age</label>
			<input ng-model="form.from_year" type="text" class="form-control" name="age">
		</div>
		<div class="form-group">
			<label>Milage</label>
			<input ng-model="form.milage" type="text" class="form-control" name="milage">
		</div>
		<div class="form-group">
			<label>Asking price</label>
			<input ng-model="form.target_price" type="text" class="form-control" name="target_price">
		</div>
		<button ng-click="addEnquiry(form)" type="submit" class="">Add Enquiry</button>
	</form>
</div>

<div class="large-7 columns">
	<h2>Your enquires</h2>
	<table>
	
		<thead>
			<tr>
				<td>Brand</td>
				<td>Model</td>
				<td>Colour</td>
				<td>Age</td>
				<td>Milage</td>
				<td>Asking Price</td>
				<td>Remove</td>
			</tr>	
		</thead>
		<tbody ng-repeat="enquiry in enquiries">
			<tr>
				<td>{{enquiry.brand_name}}</td>
				<td>{{enquiry.model_name}}</td>
				<td>{{enquiry.color}}</td>
				<td>{{enquiry.age}}</td>
				<td>{{enquiry.milage}}</td>
				<td>{{enquiry.target_price}}</td>
				<td><a href="view-bids.html">New!</a></td>
				<td><a href="view-bids.html">$6000</a></td>
				<td><input type="checkbox"></td>
			</tr>	
	
		</tbody>
	</table>
</div>	
</div>	