<div ng-controller="HomeCtrl">
	<div data-alert class="alert-box success radius">
		<p>Someone has bid on your enquiry!</p>
		<p>Click <a href="enquiry.html">here</a> to view the bid.</p>
	</div>

					
		<div class="large-3 columns">
			<label>Brand</label>
			<input type="text" name="brand" ng-model="search.Brand">
					
			<label>Model</label>
			<input type="text" name="model" ng-model="search.Model">
		
			<label>Colour</label>
			<select  ng-model="search.Colour">
				<option>Black</option>
				<option>Blue</option>
				<option>Silver</option>
			</select>
		
			<label>Age</label>
			<input type="text" name="age" ng-model="search.Age">
		
			<label>Milage</label>
			<input type="text" name="milage" ng-model="search.Milage">

		</div>
	<div class="large-10 columns">
		<table>
		
			<thead>
				<tr>
					<td>Brand</td>
					<td>Model</td>
					<td>Colour</td>
					<td>Age</td>
					<td>Milage</td>
					<td>Asking Price</td>
					<td>Your Bid</td>
					<td></td>
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="enquiry in enquiries | filter: search">
					<td>{{enquiry.brand_name}}</td>
					<td>{{enquiry.model_name}}</td>
					<td>{{enquiry.color}}</td>
					<td>{{getAgeFromYear(enquiry.from_year)}} Years Old</td>
					<td>{{enquiry.milage}}</td>
					<td>{{enquiry.target_price}}</td>
					<td><input type="text" class="form-control" ng-model="from.bid_amount"></td>
					<td><input type="hidden" ng-model="from.on_enquiry_id" value="{{enquiry.enquiry_id}}"><button class="" ng-click="placeBid(form)">Place Bid</button></td>
				</tr>		
			</tbody>
		</table>
	</div>	
	<div class="large-2">
		<label>Car</label>
		<select>
			<option>My first car</option>
			<option>Shitty car noone wants to buy</option>
			<option>Stolen car</option>
		</select>
	</div>
</div>