<div class="row">

	<div class="">
	<h1>Reverse Car Bay</h1>
		<h2>Signup</h2>

		<form action="/sign-up" method="post">
			<div class="">
				<label>Email</label>
				<input type="email" class="" name="email">
			</div>
			<div class="">
				<label>Password</label>
				<input type="password" class="" name="password">
			</div>

			<button type="submit" class="">Register</button>
		</form>

		<hr>

		<p>Already have an account? <a href="/login.html">Login</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>
</div>