<div ng-controller="SignUpCtrl" class="row">

	<div class="">
	<h1>Reverse Car Bay</h1>
		<h2>Signup</h2>

		<form>
			<div class="">
				<label>Username</label>
				<input type="text" class="" ng-model="form.username">
			</div>
			<div class="">
				<label>Password</label>
				<input type="password" class="" ng-model="form.password">
			</div>

			<button ng-click="doSignUp(form)">Register</button>
		</form>

		<hr>

		<p>Already have an account? <a href="#/login">Login</a></p>
		<p>Or go <a href="#/home">home</a>.</p>

	</div>
</div>