<div class="small-6 columns">
	<h3><em>Your enquiry:</em></h3>
	<h2>Ford</h2>
	<h3>Mondeo</h3>
	<p>Black</p>
	<p>2 Years Old</p>
	<p>25000 km</p>
	<p>$5000</p>
</div>
<div class="small-6 columns">
	<h3><em>Your bids:</em></h3>
	<div data-alert class="alert-box success radius">
		<h2>Ford</h2>
		<h3>Mondeo</h3>
		<p>Black</p>
		<p>2 Years Old</p>
		<p>25000 km</p>
		<p>$5000</p>
		<button type="submit" class="">Accept Sale</button>
		<br>
	</div>
	<h2>Ford</h2>
	<h3>Mondeo</h3>
	<p>Black</p>
	<p>2 Years Old</p>
	<p>25000 km</p>
	<p>$5000</p>
	<button type="submit" class="">Accept Bid</button>
	<br>
	<h2>Ford</h2>
	<h3>Mondeo</h3>
	<p>Black</p>
	<p>2 Years Old</p>
	<p>25000 km</p>
	<p>$5000</p>
	<button type="submit" class="">Accept Bid</button>
	<br>
	<h2>Ford</h2>
	<h3>Mondeo</h3>
	<p>Black</p>
	<p>2 Years Old</p>
	<p>25000 km</p>
	<p>$5000</p>
	<button type="submit" class="">Accept Bid</button>
	<br>
</div>	
</div>	