<div class="medium-5 large-6 columns">
	<h2>Your active bids</h2>
	<table>
	
		<thead>
			<tr>
				<td>Brand</td>
				<td>Model</td>
				<td>Colour</td>
				<td>Age</td>
				<td>Milage</td>
				<td>Your bid</td>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat-start="bid in bids | filter:{'user_id':getUserID()}:true">
			</tr>

			<tr ng-repeat-end ng-repeat="enquiry in enquiries | filter:{'enquiry_id':bid.on_enquiry_id,'enquiry_status':'running'}:true">
				<td>{{enquiry.enquiry_id}} {{enquiry.brand_name}}</td>
				<td>{{enquiry.model_name}}</td>
				<td>{{enquiry.color}}</td>
				<td>{{enquiry.age}}</td>
				<td>{{enquiry.milage}}</td>
				<td>¥{{bid.bid_amount}}</td>
			</tr>
	
		</tbody>
	</table>
</div>

<div class="medium-5 large-6 columns">
	<h2>Your purchases</h2>
	<table>
	
		<thead>
			<tr>
				<td>Brand</td>
				<td>Model</td>
				<td>Colour</td>
				<td>Age</td>
				<td>Milage</td>
				<td>Amount</td>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat-start="bid in bids | filter:{'user_id':getUserID()}:true">
			</tr>

			<tr ng-repeat-end ng-repeat="enquiry in enquiries | filter:{'enquiry_id':bid.on_enquiry_id,'enquiry_status':'ended'}:true">
				<td>{{enquiry.enquiry_id}} {{enquiry.brand_name}}</td>
				<td>{{enquiry.model_name}}</td>
				<td>{{enquiry.color}}</td>
				<td>{{enquiry.age}}</td>
				<td>{{enquiry.milage}}</td>
				<td>¥{{bid.bid_amount}}</td>
			</tr>
	
		</tbody>
	</table>
</div>			